/* style.css */
body{
    color: #495371;
    font-size: 25px;
    font-family:'League Spartan', sans-serif;
    margin: 0;
    text-align: center;
}

h1{
    font-family:'Fredoka', sans-serif;;
}

h2 {
    font-family: 'Fredoka', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

a:hover {
    text-decoration: underline;
}

#banner {
    padding: 30vh;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/1144176/pexels-photo-1144176.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
    background: linear-gradient(135deg, rgba(), white 10%);
    height: 100vh;
    color: white;
    text-shadow: 1px 1px 5px black;
  }

#banner h1 {
    color: white;
    font-size: 10vh;
}

#banner p {
    color: white;
    font-size: 5vh;
    /* font-weight: lighter; */
}

#footer {
    padding: 2px;
    text-align: center;
    background: rgb(30, 30, 30);
    color: lightgrey;
}

#footer a {
    color: lightgrey;
    font-size: 15px;
}

#footer a:hover {
    color: white;
}
  

.card {
    padding: 50px;
    font-weight: lighter;
}

.card h1 {
    font-size: 6vh;
}

.card p {
    font-size: 2vh;
}
  
